In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['.DS_Store', 'imbd-sf']

In [193]:
data = pd.read_csv('../input/imbd-sf/data.csv')
print(data.info())

data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB
None

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [5]:
len(data)

1890

# Предобработка датасета

In [341]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

def filterMovies(data, ids):
    return data[data.imdb_id.isin(ids)]

data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data.apply(lambda row: row.release_date.split('/')[0], axis = 1) 

data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,6
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,5
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,3
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,4

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [342]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
ids = ['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']
filtered = filterMovies(data, ids)
movie = filtered.loc[filtered['budget'].idxmax()]
result = ids.index(movie['imdb_id']) + 1
print(f'{movie.original_title}: {movie.budget}')
print(result)
answer_ls.append(result)

The Warrior's Way: 425000000
4

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [344]:
ids = ['tt0167260', 'tt0279111', 'tt0360717', 'tt0213149', 'tt0346491']
filtered = filterMovies(data, ids)
movie = filtered.loc[filtered['runtime'].idxmax()]
result = ids.index(movie['imdb_id']) + 1
print(f'{movie.original_title}: {movie.runtime}')
print(result)
answer_ls.append(result)

Gods and Generals: 214
2

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [345]:
ids = ['tt0299172', 'tt0283426', 'tt1449283', 'tt0121164', 'tt0443536']
filtered = filterMovies(data, ids)
movie = filtered.loc[filtered['runtime'].idxmin()]
result = ids.index(movie['imdb_id']) + 1
print(f'{movie.original_title}: {movie.runtime}')
print(result)
answer_ls.append(result)

Winnie the Pooh: 63
3

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [346]:
meanRuntime = data['runtime'].mean()
print(meanRuntime)
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [347]:
print(data['runtime'].median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [348]:
ids = ['tt0848228', 'tt2293640', 'tt2488496', 'tt2820852', 'tt0499549']
filtered = filterMovies(data, ids)
display(filtered[filtered.profit == filtered['profit'].max()])
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [349]:
ids = ['tt0134983', 'tt1032751', 'tt0424095', 'tt0180052', 'tt1210819']
filtered = filterMovies(data, ids)
display(filtered[filtered.profit == filtered['profit'].min()])
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [350]:
profitableFilms = data[data.revenue > data.budget]
print(profitableFilms.count())
answer_ls.append(1)

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
dtype: int64

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [351]:
ids = ['tt0479952', 'tt0371746', 'tt0441773', 'tt0468569', 'tt0795421']
movies2008 = data[data.release_year == 2008]
filtered = filterMovies(movies2008, ids)
display(filtered[filtered.profit == filtered['profit'].max()])
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [352]:
ids = ['tt1837709', 'tt1656186', 'tt1235522', 'tt1374992', 'tt1210819']
movies2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
filtered = filterMovies(movies2012_2014, ids)
display(filtered[filtered.profit == filtered['profit'].min()])
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [353]:
genres = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
maxGenre = 0
maxGenreTitle = ''
for genre in genres:
    current = data[data.genres.str.contains(genre)]['imdb_id'].count()
    if current > maxGenre:
        maxGenre = current
        maxGenreTitle = genre
print(maxGenreTitle)
answer_ls.append(3)

Drama

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [354]:
genres = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
profitable = data[data.profit >= 0]
print(len(profitable))
print(len(data))
maxGenre = 0
maxGenreTitle = ''
for genre in genres:
    current = profitable[profitable.genres.str.contains(genre)]['imdb_id'].count()
    if current > maxGenre:
        maxGenre = current
        maxGenreTitle = genre
print(maxGenreTitle)
answer_ls.append(1)

1478
1890
Drama

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [355]:
display(data['director'].value_counts())
answer_ls.append(3)

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Steven Spielberg     10
Shawn Levy           10
                     ..
Zal Batmanglij        1
Garth Jennings        1
Oliver Parker         1
Stephen Chbosky       1
John R. Leonetti      1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [356]:
profitable = data[data.profit > 0]
display(profitable['director'].value_counts())
answer_ls.append(4)

Ridley Scott                                12
Steven Soderbergh                           10
Steven Spielberg                            10
Clint Eastwood                              10
Shawn Levy                                   9
                                            ..
Chris Miller                                 1
Anthony Minghella                            1
Bibo Bergeron|Vicky Jenson|Rob Letterman     1
Rupert Wainwright                            1
John R. Leonetti                             1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [357]:
display(data.groupby(['director'])['profit'].sum().sort_values())
answer_ls.append(5)

director
Sngmoo Lee               -413912431
James L. Brooks           -96289726
Ron Underwood             -92896027
Peter Hyams               -86956545
David Bowers|Sam Fell     -84540684
                            ...
Michael Bay              2760938960
J.J. Abrams              2839169916
Christopher Nolan        3162548502
David Yates              3379295625
Peter Jackson            5202593685
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [358]:
actors = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
profits = {}
for actor in actors:
     profits[actor] = data[data.cast.str.contains(actor)]['profit'].sum()

display(sorted(profits.items(), key=lambda x: x[1]))
answer_ls.append(1)

[('Michelle Rodriguez', 4608031235),
 ('Johnny Depp', 4776417000),
 ('Orlando Bloom', 5148578162),
 ('Rupert Grint', 6408638290),
 ('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [359]:
actors = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
movies_2012 = data[data.release_year == 2012]
profits = {}
for actor in actors:
     profits[actor] = movies_2012[movies_2012.cast.str.contains(actor)]['profit'].sum()
display(sorted(profits.items(), key=lambda x: x[1]))
answer_ls.append(3)

[('Kirsten Dunst', -68109207),
 ('Nicolas Cage', -32893443),
 ('Danny Huston', -32893443),
 ('Sami Gayle', -32893443),
 ('Jim Sturgess', -23410657)]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [360]:
actors = ['Tom Cruise', 'Mark Wahlberg ', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
mean_budget = data['budget'].mean()
movies = {}
for actor in actors:
     movies[actor] = len(data[(data.cast.str.contains(actor)) & (data.budget > mean_budget)])
display(movies)
answer_ls.append(3)

{'Tom Cruise': 15,
 'Mark Wahlberg ': 0,
 'Matt Damon': 18,
 'Angelina Jolie': 16,
 'Adam Sandler': 17}

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [361]:
genres = ['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']
movies_cage = data[(data.cast.str.contains('Nicolas Cage'))]
cageGenres = {}
for genre in genres:
    cageGenres[genre] = len(movies_cage[movies_cage.genres.str.contains(genre)])
display(sorted(cageGenres.items(), key=lambda x: x[1]))
answer_ls.append(2)

[('Adventure', 7),
 ('Crime', 10),
 ('Drama', 12),
 ('Thriller', 15),
 ('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [362]:
companies = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
companiesFilms = {}
for company in companies:
    companiesFilms[company] = len(data[data.production_companies.str.contains(company)])
display(sorted(companiesFilms.items(), key=lambda x: x[1]))
answer_ls.append(1)

[('Twentieth Century Fox Film Corporation', 109),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 163),
 ('Warner Bros', 183),
 ('Universal', 185)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [363]:
companies = ['Universal Pictures', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
movies_2015 = data[data.release_year == 2015]
companiesFilms = {}
for company in companies:
    companiesFilms[company] = len(movies_2015[movies_2015.production_companies.str.contains(company)])
display(sorted(companiesFilms.items(), key=lambda x: x[1]))
answer_ls.append(4)

[('Paramount Pictures', 7),
 ('Columbia Pictures', 7),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Universal Pictures', 11),
 ('Warner Bros', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [364]:
companies = ['Warner Bros', 'Universal', 'Columbia Pictures', 'Paramount Pictures', 'Walt Disney']
comedies = data[data.genres.str.contains('Comedy')]
companiesComedies = {}
for company in companies:
    companiesComedies[company] = comedies[comedies.production_companies.str.contains(company)]['profit'].sum()
display(sorted(companiesComedies.items(), key=lambda x: x[1]))
answer_ls.append(2)

[('Paramount Pictures', 3055625722),
 ('Warner Bros', 4370928916),
 ('Columbia Pictures', 7161805266),
 ('Walt Disney', 7975933215),
 ('Universal', 9130349034)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [365]:
companies = ['Warner Bros', 'Universal', 'Columbia Pictures', 'Paramount Pictures', 'Lucasfilm']
movies_2012 = data[data.release_year == 2012]
companiesProfit = {}
for company in companies:
    companiesProfit[company] = movies_2012[movies_2012.production_companies.str.contains(company)]['profit'].sum()
display(sorted(companiesProfit.items(), key=lambda x: x[1]))
answer_ls.append(3)

[('Lucasfilm', -7634623),
 ('Paramount Pictures', 410726715),
 ('Warner Bros', 1258020056),
 ('Universal', 1981011579),
 ('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [366]:
movies_ids = ['tt0267626', 'tt0435705', 'tt0315297', 'tt0811138', 'tt0964517']
paramountMovies = filterMovies(data, movies_ids)
display(paramountMovies[['original_title', 'profit']].sort_values(by=['profit']))
answer_ls.append(1)

            original_title    profit
926   K-19: The Widowmaker -64831034
1723                  Next -51788987
1632               Twisted -24805000
668          The Love Guru -20180936
436            The Fighter -15809131

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [367]:
movies_by_year = data[data.release_year.isin([2014, 2008, 2012, 2002, 2015])]
display(movies_by_year.groupby(['release_year']).sum().sort_values(by=['profit']))

answer_ls.append(5)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2002,127.017597,5134000000,14136361487,11528,54743,653.1,9002361487
2008,158.907759,6588900000,18252781990,12979,84574,731.1,11663881990
2012,194.340559,7002000000,23079001687,12145,150430,682.1,16077001687
2014,374.517350,7008050000,23405862953,13444,155491,774.5,16397812953
2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [368]:
movies_by_year = data[(data.release_year.isin([2014, 2008, 2012, 2010, 2015])) & (data.production_companies.str.contains('Warner Bros'))]
display(movies_by_year.groupby(['release_year']).sum().sort_values(by=['profit']))
answer_ls.append(1)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2010,26.441327,1034000000,3008712985,1421,20286,79.6,1974712985
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [369]:
display(data['release_month'].value_counts(sort = True))
answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [370]:
summer_movies = data[data.release_month.isin(['6', '7', '8'])]
display(len(summer_movies))
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [371]:
directors = ['Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood', 'Ridley Scott', 'Peter Jackson']
winter_months = ['12', '1', '2']
movies_by_director_and_winter = data[(data.director.isin(directors)) & (data.release_month.isin(winter_months))]
display(movies_by_director_and_winter['director'].value_counts())

answer_ls.append(5)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Ridley Scott         3
Name: director, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [372]:
by_year = data.groupby(['release_year'])[['profit']].max()

counter = Counter()
for index, row in by_year.iterrows():
    max_by_year = data[(data.release_year == index) & (data.profit == row['profit'])]
    counter[max_by_year.iloc[0]['release_month']] += 1
    
display(counter)
display(counter.most_common(1)[0][0])
answer_ls.append(3)

Counter({'5': 2, '11': 3, '12': 5, '6': 3, '7': 2, '4': 1})

'12'

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [373]:
companies = ['Universal', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
lengthByCompany = {}
for company in companies:
    lengthByCompany[company] = data[data.production_companies.str.contains(company)]['original_title']
    
for company, titles in lengthByCompany.items():
    lenghts = titles.map(lambda x: len(x))
    display(f"{company} {lenghts.mean()}")
answer_ls.append(5)

'Universal 14.762162162162163'

'Warner Bros 15.251366120218579'

'Jim Henson Company, The 59.0'

'Paramount Pictures 17.0327868852459'

'Four By Two Productions 83.0'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [374]:
companies = ['Universal', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
lengthByCompany = {}
for company in companies:
    lengthByCompany[company] = data[data.production_companies.str.contains(company)]['original_title']
    
for company, titles in lengthByCompany.items():
    lenghts = titles.map(lambda x: len(x.split(' ')))
    display(f"{company} {lenghts.mean()}")
answer_ls.append(5)

'Universal 2.627027027027027'

'Warner Bros 2.73224043715847'

'Jim Henson Company, The 10.0'

'Paramount Pictures 2.8688524590163933'

'Four By Two Productions 12.0'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [375]:
words = set()
titles = data['original_title']
for title in titles:
    for word in title.lower().split(' '):
        words.add(word)
print(len(words))

answer_ls.append(3)

2462

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [376]:
moviesList = [
    ['Inside Out', 'Gone Girl', '12 Years a Slave'],
    ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
    ['The Lord of the Rings: The Return of the King', 'Upside Down'],
    ['300', 'Lucky Number Slevin'],
    ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King' ]
]
percent_1 = int(len(data) * 0.01) + 1
percent_1_best_movies = data.sort_values('vote_average', ascending = False).head(percent_1)

for movies in moviesList:
    found = True
    for movie in movies:
        found = found and len(percent_1_best_movies[percent_1_best_movies.original_title == movie]) > 0
    if found:
        print(movies)
    
answer_ls.append(1)

['Inside Out', 'Gone Girl', '12 Years a Slave']

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [377]:
actorsList = [
    ['Johnny Depp', 'Helena Bonham Carter'],
    ['Hugh Jackman', 'Ian McKellen'],
    ['Vin Diesel', 'Paul Walker'],
    ['Adam Sandler', 'Kevin James'],
    ['Daniel Radcliffe', 'Rupert Grint']
]
actorsMovies = {}
for actors in actorsList:
    count = len(data[(data.cast.str.contains(actors[0])) & (data.cast.str.contains(actors[1]))])
    actorsMovies[str(actors)] = count
                     
display(sorted(actorsMovies.items(), key=lambda x: x[1], reverse=True)[0])

answer_ls.append(5)

("['Daniel Radcliffe', 'Rupert Grint']", 8)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [378]:
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
for director in directors:
    movies_by_director = data[data.director.str.contains(director)]
    profitable_movies = movies_by_director[movies_by_director.profit > 0]
    print(f"{director}: {(len(profitable_movies) * 100) / len(movies_by_director)}")

answer_ls.append(4)

Quentin Tarantino: 85.71428571428571
Steven Soderbergh: 76.92307692307692
Robert Rodriguez: 72.72727272727273
Christopher Nolan: 100.0
Clint Eastwood: 83.33333333333333

# Submission

In [379]:
len(answer_ls)

36

In [380]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       3
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4